
          <% if (user) { %>
					<div class="container">
						<a class="nav-item" href='/'>
							<img src="https://cdn.discordapp.com/attachments/734686925411057675/735427365181587497/discord-logo.png" class="hideme" style="width: 6em;">
						</a>
						<div class="nav-right">
							<a href="/" class="nav-item is-active">
								Home
							</a>
							<a href="/commands" class="nav-item ">
								Commands
							</a>
							<a href="/community" class="nav-item">
								Community
							</a>
              <a href="/embed" class="nav-item ">
								Embed
							</a>
							<a href="/invite" class="nav-item " style="color: #ffffff;">
								<span>Invite ALIX To Your Server</span>
							</a>			
              <a href="/authorize/logout" class="nav-item">Logout</a>
              <% } else { %>
              <a href="/authorize">Login</a>
              <% } %>
            </div>
					</div>
	