<html>
<head>
  <title>Contact Us</title>  
  <link rel="stylesheet" type="text/css" href="/assest/css/contact.css">
</head>
  <body>
    <div class="contact-title">
      <h1>
        Hey User
      </h1>
      <h2>
        Having Problem, Bugs, E.T.C From Our Bot Or Website Fill This Form!
      </h2>
    </div> 
    
    <div class="contact-form">
      <form id="contact-form" method="post" action="">
        <input name="name" type="text" class="form-control" placeholder="Your Name" required>
        <br>
        <input name="email" type="email" class="form-control" placeholder="Your Email" required>
        <br>
        <input name="name" type="text" class="form-control" placeholder="Your Discord Name (OPTIONAL)">
        <br>
        <textarea name="message" class="form-control" placeholder="Message" roe="4" required></textarea>
        <br>
        <input type="submit" class="form-control submit" value="SUBMIT">
      </form>
    </div>
    
  </body>
</html>